@import '../../index';

.Header {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(#{$navSize} + 8px);
    border-bottom: 3px solid #ececec;
    padding: 0 $paddingSides;
}