@import '../../../../stylesheets/variables';

.Header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    height: $navSize;
    min-height: $navSize;
    border-bottom: 1px solid #ececec;
    padding: 0 $paddingSides;
}