@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/variables';

.Navigator {
    background-color: #4b4b4b;
    width: 80px;
    height: 100%;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $MineShaft;
        width: $navSize;
        height: $navSize;
        text-decoration: none;
        cursor: pointer;
        -webkit-user-drag: none;
        img {
            height: 60%;
            -webkit-user-drag: none;
        }
    }
    ul {
        width: $navSize;
        li {
            width: $navSize;
            height: $navSize;
            transition: 0.2s;
            &:hover {
                background-color: lighten($MineShaft, 3%);
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: $navSize;
                height: $navSize;
                user-select: none;
                -webkit-user-drag: none;
                cursor: pointer;
            }
            img {
                width: 26px;
                -webkit-user-drag: none;
            }
        }
    }
}