$MineShaft: #3D3D3D;
$DarkenMineShaft: darken($MineShaft, 5%);

$Mariner: #2980B9;
$DarkenMariner: darken($Mariner, 5%);

$Athens: #F7F8FA;

$Gallery: #ECECEC;

$Mischka: #7f8c8d;

$JungleGreen: #27AE60;
$DarkenJungleGreen: darken($JungleGreen, 10%);